.timeseries-bg {
  background-image: url(../../img/timeseries-bg.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 1rem;
}

.timeseries-container {
  background: var(--bg);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 40vh;
  padding: 5rem;
}
