.iTicket-bg {
  background-image: linear-gradient(
      to right bottom,
      rgba(#e0e0e0, 0.3),
      rgba(#fafafa, 0.3)
    ),
    url(../../img/iTicket-bg.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 6rem;
}

.iTicket-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 40vh;
  padding-top: 5rem;
}

.iticket-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  text-transform: capitalize;
}

.iTicket-dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iTicket-form {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  background-color: #19181a;
  width: 100%;
  padding: 3rem;
}
