table {
  border-spacing: 0;
  border: 1px solid black;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th {
    background-color: #29b6f6;
    color: white;
  }

  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;

    :last-child {
      border-right: 0;
    }
  }

  .pagination {
    padding: 0.5rem;
  }
}
