// COLOR
//$color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

/*******BACKGROUND COLOR********/
$color-primary-background: lighten(#19181a, 5%);

$color-primary: #1976d2;
$color-primary-light: #b3e5fc;
$color-primary-dark: #2979ff;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #4caf50;
$color-tertiary-dark: #00796b;

$color-fourth-light: #2998ff;
$color-fourth-dark: #5643fa;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #eee;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

//NEW COLOR
$color-black-main: #18181e;
$color-black-light: #0d0d1100;
$color-black-dark: #18181e;
$color-tan-main: #dec79b;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FORM
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
$primary-bg-color: #d9b08c;
$secondary-bg-color: #ffcb9a;
$font-color: #d9b08c;
$font-family: 'Montserrat', sans-serif;
$form-border-color: rgba(0, 0, 0, 0.1);

//TESTING COLOR:
$color-test-1: #eae7dc;
$color-test-2: #d8c3a5;
$color-font-1: #d9b08c;

//NAVBAR

:root {
  --bg: #242526;
  // --bg-accent: white;
  --text-color: #dadce1;
  --nav-size: 7rem;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}
