.menu-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inventory-bg {
  background-image: url(../img/inventory.jpg);
  background-size: cover;
  background-position: center;
}
