.system-info-bg {
  background-image: url(../../img/system-info-bg.jpg);
  background-size: cover;
  background-position: 25% 25%;
  padding-bottom: 5rem;
  background-color: white;
}

.system-info-table {
  height: 60vh;
  width: 40%;
}
