.system-info-bg {
  background-image: url(../../img/system-info-bg.jpg);
  background-size: cover;
  background-position: 25% 25%;
  padding-bottom: 1rem;
}

.pie-chart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 10rem;
  height: 70vh;
}

.table {
  height: 40vh;
}
