.system-info-bg {
  background-image: url(../../img/system-info-bg.jpg);
  background-size: cover;
  background-position: 25% 25%;
  padding: 5rem;
  background-color: white;
}

.system-info-table {
  min-height: 80vh;
  width: 100%;
  padding: 5rem;
  color: black;
  padding-bottom: rem;
}

// .system-info-table h3:hover {
//   background: linear-gradient(90deg, #ff8a00, #e52e71);
//   text-shadow: none;
//   -webkit-text-fill-color: transparent;
//   -webkit-background-clip: text;
//   background-clip: text;
// }
