.section-directory {
  padding: 15rem 0;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    rgba(#03a9f4, 0.9),
    rgba(#2979ff, 0.9)
  );
}

.directory {
  //background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -13.5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20rem;
}
