.section-directory {
  padding: 7rem 1rem;
  position: relative;
  background-color: #101010;
}

.directory {
  // padding: 25rem 0 15rem 0;
  // margin-top: -13.5rem;

  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // gap: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 20rem;
  padding: 5rem;

  & :first-child {
    grid-column: 1 / -1;
  }
}
