@import '../../../public/sass/variable';

.header {
  font-size: 1.4rem;
  height: 7rem;
  background: $color-primary-background;
  border-bottom: 1px solid $color-grey-light-2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-nav {
    display: flex;

    &-li {
      display: flex;
      align-items: center;
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      text-decoration: none;
    }

    &-link:link,
    &-link:visited {
      color: $color-font-1;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      font-weight: 700;
    }
  }
}
