@import '../../../public/sass/variable';

.footer {
  background-color: $color-grey-dark-1;
  color: $color-grey-light-1;
  padding: 4rem 0;
}

.footer {
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &-heading {
    text-transform: uppercase;
    color: $color-grey-light-1;
    margin: auto 3rem;
    font-size: 1.5rem;
    grid-column: 1 / 3;
  }
  &-logo-box {
    text-align: center;
    margin-top: -3rem;
  }

  &-logo {
    width: 10rem;
    height: auto;
  }

  &-list {
    list-style: none;
    font-size: 3rem;
    letter-spacing: 1rem;
    margin-top: 2rem;
  }

  &-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &-link {
    &:link,
    &:visited {
      color: $color-grey-light-1;
      background-color: $color-grey-dark-1;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    }
  }

  &-copyright {
    letter-spacing: 1px;
    font-size: 1.5rem;
  }

  a:link {
    text-decoration: none;
    color: $color-grey-light-1;

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
    }
  }
}
