@import '../public/sass/mixins';
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
  font-family: 'DM MONO', monospace;
  margin: 0;
  padding: 0;
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
html {
  // This defines what 1rem is ; 1rem = 10px; 10/16 = 62.5%
  font-size: 62.5%;

  // @include respond(phone) {
  //   font-size: 50%;
  // }
  @include respond(tab-land) {
    //width < 1200
    font-size: 56.25%; //1rem = 9px; 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900
    font-size: 50%; //1rem = 8px; 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem =12px; 12/16 = 75%
  }
}

* {
  box-sizing: border-box; /* Elements are now line-up because padding, margin, and border do not affect the elements size */
}
