@import '../../../public/sass/variable';

.nav-bar {
  height: var(--nav-size);
  background-color: #101010;
}

.nav-list {
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
